<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
<div class="container">
    {{> navbar}}
</div>
<div class="container">
    {{{body}}}
</div>
</body>
<div class="container">
    {{> footer}}
</div>
</html>
