<p class="
    text-lg
    font-semibold
    tracking-tight
    text-gray-900
">
    Merge this bag back into
    <span class="text-{{{this.lastEventType.color}}}">
        {{splitFromBagId}}
    </span>
    ?
</p>
