<p class="
    text-lg
    font-semibold
    tracking-tight
    text-gray-900
    py-2
    px-4
">
    Move bag from
    <span class="text-{{{this.lastEventType.color}}}">
        {{toTitleCase this.lastEventType.pastTenseVerb}}
    </span>
    to
    <span class="text-{{{this.nextEventType.color}}}">
        {{toTitleCase this.nextEventType.pastTenseVerb}}
    </span>
    ?
</p>
