<div class="
    flex-grow
    rounded
    shadow-lg
    my-1
    p-4
">
    <a href="/washdays/{{this.createdAt}}/events/?personName={{this.personName}}"
    class="
    ">
    <p class="
            text-lg
            text-gray-900
            font-semibold
            tracking-tight
        ">
        ...Add a new Bag to this Person
    </p>
    </a>
</div>
