<p class="
    text-lg
    font-semibold
    tracking-tight
    text-gray-900
">
    Split off new bag
    <span class="text-{{{this.lastEventType.color}}}">
        {{nextAvailSplitBagId}}
    </span>
    from this bag?
</p>
