<div id="footer">
    <ul class="
        flex
        flex-col
        border
        border-gray-200
        rounded
        shadow
        bg-white
        text-gray-900
        font-medium
        py-2
        ">
        <li>
            <a href="{{organization.aboutUsLink.url}}"
               class="block rounded p-2
            ">
                {{organization.aboutUsLink.title}}
            </a>
        </li>
        <li>
            <a href="/admin"
               class="block rounded p-2
            ">
                Admin Login
            </a>
        </li>

    </ul>
</div>
