<div class="block mb-1">
    <h5 class="text-base font-semibold tracking-tight text-gray-900">
        Last Note
    </h5>
    <div class="col-span-1">
        <div class="block">
            <p class="text-base mr-8">{{this.notes.0.note}}</p>
        </div>
    </div>
</div>
